header {
    padding: 20px 10%;
    width: 100%;
    background-color: $accent;
    h1 {
        font-family: 'Shrikhand', serif;
        font-size: calc(5rem + 1vw);
        text-shadow: -1px 1px 1px $secondary,
                    -2px 2px 1px $secondary
        ;
        color: $primary;
        padding: 0;
    }
}