.list {
    margin-top: 14rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;    
    h2 {
        font-family: 'Special Elite', serif;
        border-bottom: 2px solid $secondary;
    }
    ul {
        list-style: none;
        padding: 0;
    }
    .toRead, .finishedBooks {
        padding: 2%;
        background-color: $white;
    }
    li {
        text-align: center;
        background: $accent;
        margin-bottom: 1rem;
        display: grid;
        grid-template-rows: 1fr;
        grid-gap: 1rem;
        padding: 1rem;
        align-items: center;
        h3 {
            font-family: 'Special Elite', serif;
            font-size: calc(1rem + 0.5vw);
            text-transform: uppercase;
            margin: 0;
        }
        h4 {
            font-size: calc(0.5rem + 0.5vw);
            margin: 0.5rem 0;
        }
    }
    .buttons {
        display: flex;
        justify-content: space-around;
    }
    button {
        font-family: 'Special Elite', serif;
        font-size: calc(0.5rem + 0.5vw);
        color: $accent;
        border: none;
        border-radius: 0;
        padding: 0.5rem;
        transition: all 0.5s ease;
    }
    .removeBtn {
        background: $secondary;
    }
    .removeBtn:hover {
        background: $accent;
        color: $secondary;
    }
    .finishedBtn {
        background: $primary;
    }
    .finishedBtn:hover {
        background: $accent;
        color: $primary;
    }
}   

//MEDIA QUERIES
@media(max-width: 700px) {
    .list {
        margin-top: 1rem;   
        li {
            h3 {
                font-size: calc(1rem + 0.5vw);
            }
            h4 {
                font-size: calc(0.8rem + 0.5vw);
            }
        }
        button {
            font-size: calc(0.8rem + 0.5vw);
        }
    }
}