.searchResults {
    background-color: $white;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin-top: 14rem;

    .results {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 2%;
        align-content: center;
        .result {
            display: flex;
            flex-direction: column;
            padding: 1rem;

            background: $primary;
            color: $accent;
            align-items: center;
            text-align: center;
            h2 {
                font-family: 'Special Elite', serif;
                text-transform: uppercase;
                padding: 0;
                margin: 0;
            }
            p {
                font-size: calc(0.5rem + 0.5vw);
            }
            button {
                font-family: 'Special Elite', serif;
                background: $accent;
                border: none;
                padding: 1rem;
                transition: all ease 0.5s;
            }
            button:hover {
                background: $secondary;
                color: $accent;
            }
        
        }
    }
}

.searchField {
    // width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1rem;
    input.input,
    input.submit {
        font-family: 'Special Elite', serif;
        font-size: calc(0.5rem + 1vw);
        padding: 0.5rem;
    }
    input.input {
        border: none;
    } 
    input.submit {
        background-color: $secondary;
        color: $accent;
        border: none;
        transition: all 0.5s ease;
    }
    input.submit:hover {
        background-color: $accent;
        color: $primary;
    }
}

